.header {
  width: 100%;
  height: 64px;
  background: #f8f8f8 0% 0% no-repeat padding-box;
  border-radius: 0px 0px 40px 40px;
  opacity: 1;
  margin-bottom: 20px;
  padding-top: 2%;
  padding-left: 2%;
  display: flex;
  align-items: center;
  flex-direction: row;
}

.headerHello {
  text-align: left;
  font: normal normal bold 20px/25px Montserrat;
  letter-spacing: 0px;
  color: #4e4e4e;
  flex: 1;
}
.headerTitle {
  text-align: left;
  font: normal normal bold 22px/27px Montserrat;
  letter-spacing: 0px;
  color: #4e4e4e;
  opacity: 1;
  flex: 1.5;
  margin-left: 10%;
}
.logoutbtn {
  background: transparent
    linear-gradient(
      107deg,
      #ffba67 0%,
      #ffbf72 18%,
      #ffbf72 18%,
      #ffbf72 18%,
      #ffbf72 19%,
      #ffd5a3 100%
    )
    0% 0% no-repeat padding-box;
  border-radius: 10px;
  opacity: 1;
  width: 130px;
  height: 35px;
  padding-top: 5px;
  padding-left: 5px;
  text-align: left;
  font: normal normal normal 20px/27px Montserrat;
  letter-spacing: 0px;
  color: #000000;
  cursor: pointer;
  margin-right: 4%;
  margin-bottom: 2%;
}
