.Modal {
  position: fixed;
  z-index: 500;
  background-color: white;
  width: 70%;
  border: 1px solid #ccc;
  box-shadow: 1px 1px 1px black;
  padding: 16px;
  left: 15%;
  top: 15%;
  box-sizing: border-box;
  transition: all 0.3s ease-out;
  /* max-height: "60vh"; */
  overflow: scroll;
}
.Modal::-webkit-scrollbar {
  width: 7px;
  height: 2px;
  background-color: white;
}
.Modal::-webkit-scrollbar-thumb {
  background-color: grey;
  border-radius: 4px;
}

/* @media (min-width: 600px) {
  .Modal {
    width: 500px;
    left: calc(50% - 250px);
  }
} */
