.constantIcon {
  font: normal normal 600 11px/16px Open Sans !important;
  position: absolute;
  top: 0;
  right: 0.25rem;
  margin: 0.25rem 0.25rem;
  width: 1.5vw;
  z-index: 1000;
  text-align: center;
  background: #e5e5e5;
}

.multiSelectConstInput {
  position: absolute;
  width: 17vw;
  height: 1rem;
  top: 0.25rem;
  right: 1.5rem;
  left: 2vw;
  z-index: 100;
  font: normal normal normal 12px/17px Open Sans !important;
  border: none;
}

.selectWithInputOptions {
  font: normal normal normal 12px/17px Open Sans !important;
  letter-spacing: 0px;
  color: #000000;
  text-align: right !important;
  justify-content: flex-end !important;
  width:100%;
}
