.selectWithInputTextField_arabic .Mui-focused {
  border: 1px solid#DADADA;
}

.selectWithInputTextField_arabic .MuiOutlinedInput-notchedOutline {
  border: 1px solid#DADADA;
}

.selectWithInputTextField_arabic
  .MuiOutlinedInput-root:hover
  .MuiOutlinedInput-notchedOutline {
  border: 1px solid#DADADA;
}

.selectWithInputTextField_arabic .MuiAutocomplete-inputRoot {
  height: 100%;
  text-align: left;
  font: normal normal normal 12px/17px Open Sans !important;
  letter-spacing: 0px;
  color: #000000;
  padding: 0 0.25rem 0.125rem 0.25rem !important;
}

.selectWithInputTextField_arabic
  .MuiAutocomplete-inputRoot
  .MuiAutocomplete-input {
  padding: 0 0.25rem 0 0 !important;
}

.selectWithInputTextField_arabic
  .MuiAutocomplete-inputRoot
  .MuiAutocomplete-endAdornment {
  right: unset;
  left: 9px !important;
}

.selectWithInputTextField_arabic
  .MuiAutocomplete-inputRoot
  .MuiAutocomplete-endAdornment
  .MuiAutocomplete-popupIndicator,
.selectWithInputTextField_arabic
  .MuiAutocomplete-inputRoot
  .MuiAutocomplete-endAdornment
  .MuiAutocomplete-clearIndicator {
  margin-left: -9px;
}

.selectWithInputTextField_arabic
  .MuiAutocomplete-inputRoot
  .MuiAutocomplete-endAdornment
  .MuiAutocomplete-clearIndicator
  .MuiSvgIcon-fontSizeSmall {
  font-size: 1rem;
}
