.selectWithInput {
  width: 100% !important;
}

.selectWithInputOptions {
  font: normal normal normal 16px/24px Open Sans !important;
  letter-spacing: 0px;
  color: #000000;
}

.selectWithInputTextField {
  width: 100% !important;
}

.selectWithInputTextField input {
  height: 40px;
}

.AddToConst {
  overflow-y: hidden;
}

.AddToConst p{
  margin: 0.125rem;
}

.AddToConst p:last-child {
  color: rgba(0, 0, 0, 0.5);
}

.multiSelectConstInput {
  position: absolute;
  width: 80%;
  height: 30px;
  top: 5px;
  left: 2vw;
  z-index: 100;
  font: normal normal normal 16px/24px Open Sans !important;
  border: none;
}

.constantIcon {
  font: normal normal 600 11px/16px Open Sans !important;
  position: absolute;
  top: 0;
  margin: 0.25rem 0.25rem;
  width: 1.5vw;
  z-index: 1000;
  text-align: center;
  background: #e5e5e5;
}
