.calenderDiv {
  color: #7856ff;
  font-size: 18px;
  text-align: right;
  margin-right: 1%;
  margin-bottom: 0.5%;
  margin-top: 1%;
  position: relative;
}

#date::-webkit-calendar-picker-indicator {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: auto;
  color: transparent;
  background: transparent;
}

.upperInput::placeholder,
.lowerInput::placeholder {
  font-size: 12px;
  color: grey;
  opacity: 0.5;
}

.buttonDropdown {
  display: flex;
  padding: 0 0.5rem;
  justify-content: space-between;
  width: 100%;
  border: none;
  background: none;
  border-bottom: 1px solid black;
}
