.inputField {
  width: 60%;
  height: 40px;
  background: #f8f8f8 0% 0% no-repeat padding-box;
  opacity: 1;
  border: none;
  padding: 0;
  padding-left: 2%;
  border-radius: 0;
  margin-left: -4px;
  text-align: left;
  font-size: 16px;
  font-family: 'Montserrat';
  letter-spacing: 0px;
  color: black;
  opacity: 1;
  border-bottom-left-radius: 0 !important;
  border-top-left-radius: 0 !important;
}

.inputField:focus-visible {
  outline: none;
}

.Label {
  width: 30%;
  height: 40px;
  background: #fff1e1 0% 0% no-repeat padding-box;
  opacity: 1;
  text-align: center;
  text-align: left;
  padding-top: 1.5%;
  font: normal normal 600 14px/19px Montserrat;
  letter-spacing: 0.5px;
  color: #000000;
  opacity: 1;
  margin-left: 5%;
}
.Title {
  font: normal normal 500 30px/37px Montserrat;
  letter-spacing: 0px;
  color: #ff8b00;
  opacity: 1;
  flex: 1;
  text-align: center;
}
.submitBtn {
  background: transparent
    linear-gradient(
      106deg,
      #ff8b00 0%,
      #ff9f2d 18%,
      #ff9f2d 18%,
      #ffa131 19%,
      #ffa131 19%,
      #ffffff 100%
    )
    0% 0% no-repeat padding-box;
  border-radius: 10px;
  opacity: 1;
  width: 125px;
  height: 37px;
  font: normal normal medium 25px/30px Montserrat;
  letter-spacing: 0px;
  color: #000000;
  opacity: 1;
}
.resetBtn {
  width: 125px;
  height: 37px;
  background: transparent linear-gradient(106deg, #000000 0%, #ffffff 100%) 0%
    0% no-repeat padding-box;
  border-radius: 10px;
  opacity: 1;
  font: normal normal medium 25px/30px Montserrat;
  letter-spacing: 0px;
  color: #ffffff;
  opacity: 1;
  margin-left: 2%;
}
.MuiRadio-colorSecondary.Mui-checked {
  color: #ff8b00 !important;
}

.close {
  height: 25px;
  width: 25px;
  color: black;
  /* margin-left: auto; */
  cursor: pointer;
}

.MuiSelect-select:focus {
  border-radius: 0;
  background-color: transparent !important;
}

.inputField:after, .inputField:before{
  border:0 !important;
}