.row {
  margin: 0;
}

.input {
  padding: 20px;
  border-radius: 10px;
  outline: none;
  border-bottom-left-radius: 10px !important;
  border-top-left-radius: 10px !important;

  width: 490px;
  height: 58px;
  background: #ffffff 0% 0% no-repeat padding-box;
  border: 1px solid #707070;

  opacity: 1;
  text-align: left;
  font: normal normal normal 17px/22px Montserrat;

  letter-spacing: 0px;
  color: #666666;
}
.input-group {
  margin: 20px auto;
  position: relative;
  margin-left: 10%;
  margin-top: 7%;
  width: 80%;
}
.label {
  position: absolute;
  top: -13px;
  left: 20px;
  background-color: white;
  padding: 0 5px;

  text-align: left;
  font: normal normal normal 20px/25px Montserrat;
  letter-spacing: 0px;
  color: #2a2a2a;
  opacity: 1;
}

.Login {
  background: #ffa841 0% 0% no-repeat padding-box;
  border-radius: 10px;
  opacity: 1;
  width: 129px;
  height: 44px;
  text-align: center;
  font: normal normal medium 32px/40px Montserrat;
  letter-spacing: 0px;
  color: #000000;
  padding-top: 1.5%;
  margin-left: 35%;
  margin-top: 20%;
  margin-bottom: 10%;
}
.loginBtn {
  width: 140px;
  height: 45px;
  background: transparent linear-gradient(106deg, #ff9414 0%, #ffd5a3 100%) 0%
    0% no-repeat padding-box;
  border-radius: 10px;
  opacity: 1;
  text-align: left;
  font: normal normal medium 30px/37px Montserrat;
  letter-spacing: 0px;
  color: #000000;
  padding-left: 20px;
  margin-left: 10%;
  margin-top: 5%;
  margin-right: 10%;
  display: block;
}

.page {
  background-image: url("../../Assets/login.png");
  background-color: #cccccc; /* Used if the image is unavailable */
  background-position: center; /* Center the image */
  background-repeat: no-repeat; /* Do not repeat the image */
  background-size: cover;
}

input::placeholder {
  font-size: 14px;
}
