.App {
  font: normal normal bold 20px/24px Montserrat;
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.loader {
  position: absolute;
  left: 45%;
  top: 50%;
}

.upperInput {
  border-top: 0;
  border-left: 0;
  border-right: 0;
  border-bottom: 1px solid rgb(118, 118, 118);
  background: transparent;
  width: 100%;
}

.lowerInput {
  border-top: 0;
  border-left: 0;
  border-right: 0;
  border-bottom: 1px solid rgb(118, 118, 118);
  background: transparent;
  margin-top: 10px;
  width: 100%;
}
