.subDeleteHeading {
  color: #4e4e4e;
  font-weight: 400;
  line-height: 1rem;
  font-size: 15px;
  margin-top: 1rem;
  margin-bottom: 1.5rem;
  width: fit-content;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}

.btnDiv {
  justify-content: center !important;
  display: flex !important;
  flex-direction: row !important;
  text-align: center !important;
}

.deleteBtn {
  background: transparent
    linear-gradient(
      106deg,
      #ff8b00 0%,
      #ff9f2d 18%,
      #ff9f2d 18%,
      #ffa131 19%,
      #ffa131 19%,
      #ffffff 100%
    )
    0% 0% no-repeat padding-box;
  border-radius: 10px;
  opacity: 1;
  width: 125px;
  height: 37px;
  font: normal normal medium 25px/30px Montserrat;
  color: #000000;
}

.cancelBtn {
  width: 125px;
  height: 37px;
  background: transparent linear-gradient(106deg, #000000 0%, #ffffff 100%) 0%
    0% no-repeat padding-box;
  border-radius: 10px;
  opacity: 1;
  font: normal normal medium 25px/30px Montserrat;
  margin-right: 10px !important;
  color: #ffffff;
}
