.dropdown {
  position: absolute;
  z-index: 100;
  top: 100%;
  width: 100%;
  background: #ffd398 0% 0% no-repeat padding-box;
  border-radius: 0px 0px 20px 20px;
  max-height: 25vh;
  overflow-y: auto;
  /* cursor: pointer; */
}

.dropdown::-webkit-scrollbar {
  width: 4px;
  height: 2px;
  background-color: white;
}
.dropdown::-webkit-scrollbar-thumb {
  background-color: rgba(0, 0, 0, 0.15);
  border-radius: 4px;
}

.dropdown2 {
  position: absolute;
  z-index: 100;
  top: 100%;
  width: 100%;
  left: 0;
  text-align: left;
  font: normal normal 600 13px/18px Open Sans !important;
  letter-spacing: 0;
  color: #808080;
  background: white;
  border-radius: 4px;
  max-height: 20rem;
  overflow-y: auto;
  box-shadow: 0px 5px 5px -3px rgb(0 0 0 / 20%),
    0px 8px 10px 1px rgb(0 0 0 / 14%), 0px 3px 14px 2px rgb(0 0 0 / 12%);
}

.dropdown2::-webkit-scrollbar {
  width: 4px;
  height: 2px;
  background-color: white;
}
.dropdown2::-webkit-scrollbar-thumb {
  background-color: rgba(0, 0, 0, 0.15);
  border-radius: 4px;
}

.ExpenseCatdropdown {
  position: absolute;
  z-index: 100;
  top: 100%;
  width: 90%;
  background: #ffd398 0% 0% no-repeat padding-box;
  border-radius: 0px 0px 20px 20px;
}

.teamName {
  position: absolute;
  z-index: 100;
  top: 100%;
  width: 15vw;
  background: #ffd398 0% 0% no-repeat padding-box;
  border-radius: 0px 0px 20px 20px;
  left: 0;
}
.projectDropdown {
  width: 15vw;
  left: 0;
}
.largeDropdown {
  right: 0;
  width: 270px;
}
.clientDropdown {
  left: 0;
  width: 15vw;
}

.billableDropdown {
  left: 0%;
  width: 140px;
}

.managerDropdown {
  left: 0;
  width: 15vw;
}

.statusDropdown {
  left: 0;
  width: 100%;
}

.creationDropdown,
.closingDropdown,
.hoursDropdown,
.costDropdown {
  width: 80%;
  right: 0;
}

.dueDropdown {
  width: 12vw;
  left: -1vw;
}

.MuiCheckbox-root {
  padding: 4px !important;
}
.CreateProject {
  width: 210px;
  height: 35px;
  background: #f1f1f1 0% 0% no-repeat padding-box;
  border-radius: 8px;
  text-align: left;
  font: normal normal 500 21px/27px Montserrat;
  letter-spacing: 0px;
  color: #ff8b00;
  opacity: 1;
  border: none;
  margin-left: 1%;
  margin-bottom: 15px;
}

.CreateExpense {
  width: 400px;
  height: 37px;
  background: #f1f1f1 0% 0% no-repeat padding-box;
  border-radius: 8px;
  text-align: left;
  font: normal normal 500 21px/27px Montserrat;
  letter-spacing: 0px;
  color: #ff8b00;
  opacity: 1;
  border: none;
  margin-left: 1%;
  margin-bottom: 15px;
}

.DownloadBtn {
  margin-right: 1%;
  float: right;
  border: 0;
  height: 37px;
  background: transparent;
  color: #7856ff;
  font: normal normal 500 21px/27px Montserrat;
  letter-spacing: 0px;
}

.CalenderBtn {
  float: right;
  position: absolute;
  border: 0;
  right: 0;
  z-index: -1;
  cursor: pointer;
  height: 37px;
  background: transparent;
  color: #7856ff;
  font: normal normal 500 21px/27px Montserrat;
  letter-spacing: 0px;
}

.NoDataFound {
  position: absolute;
  top: 50%;
  left: 45%;
  font-style: italic;
  font-weight: 400;
}
