.leftPannel {
  bottom: 0px;
  position: absolute;
  width: 100%;
  z-index: 1;
  background: #f8f8f8 0% 0% no-repeat padding-box;
  flex: 1 1;
}

.pannelLabel {
  text-align: center;
  font: normal normal normal 20px/25px Montserrat;
  border-left: 1px solid black;
  border-right: 1px solid black;
  border-top: 1px solid black;
  letter-spacing: 0px;
  color: #4e4e4e;
  cursor: pointer;
  margin: 0 0.5rem;
  padding: 0.5rem;
}

.selectedLabel {
  border-top: 5px solid orange;
  border-left: 1px solid orange;
  border-right: 1px solid orange;
  background: white;
  text-align: center;
  font: normal normal bold 20px/25px Montserrat;
  letter-spacing: 0px;
  color: #4e4e4e;
  cursor: pointer;
  margin: 0 0.5rem;
  padding: 0.5rem;
}

.footer {
  margin-left: 50px;
  margin-right: -16px;
  margin-bottom: 5%;
  opacity: 1;
  position: absolute;
  bottom: 2vh;
}

.inRow {
  display: flex;
  overflow-x: hidden;
}

.inColumn {
  display: flex;
  flex-direction: column;
  overflow-x: hidden;
}

.rightDiv {
  margin: 0 2rem;
}

.options {
  display: flex;
  align-items: center;
}

.options a {
  flex: 1;
}
